<main class="auth-main">
	<div class="auth-block">
		<h1>RWE</h1>
		<hr>
		<h2>Login</h2>
		<form class="form-horizontal col-12" aria-labelledby="title" [formGroup]="form" (ngSubmit)="login(form.valid)">
			<div class="form-group">
                <label for="user" class="label hidden">User</label>
				<div class="col-12">
					<input type="text" style="width: 100%; max-width: 100%;"
						class="form-control col-12" formControlName="user"
						id="user" placeholder="User" autofocus>
				</div>
			</div>
			<div class="form-group">
                <label for="password" class="label hidden">Password</label>
				<div class="col-12">
					<input type="{{showPassword ? 'text' : 'password'}}" style="width: 100%; max-width: 100%;"
						class="form-control col-12" formControlName="password"
						id="password" placeholder="Password" (enter)="login(form.valid)">
				</div>
			</div>
			<div class="form-group">
				<div class="col-12">
					<button class="form-control btn-info" fullWidth status="primary" type="submit"
					[disabled]="form.invalid">Sign in</button>
				</div>
			</div>
		</form>
		<hr>
		<h2>Registro</h2>
		<form class="form-horizontal col-12" aria-labelledby="title" [formGroup]="registerForm" (ngSubmit)="register(registerForm.valid)">
			<div class="form-group">
                <label for="userr" class="label hidden">User</label>
				<div class="col-12">
					<input type="text" style="width: 100%; max-width: 100%;"
						class="form-control col-12" formControlName="userr"
						id="userr" placeholder="User" autofocus>
				</div>
			</div>
			<div class="form-group">
                <label for="passwordr" class="label hidden">Password</label>
				<div class="col-12">
					<input type="{{showPassword ? 'text' : 'password'}}" style="width: 100%; max-width: 100%;"
						class="form-control col-12" formControlName="passwordr"
						id="passwordr" placeholder="Password" (enter)="register(registerForm.valid)">
				</div>
			</div>
			<div class="form-group">
				<div class="col-12">
					<button class="form-control btn-info" fullWidth status="primary" type="submit"
					[disabled]="registerForm.invalid">Sign in</button>
				</div>
			</div>
		</form>
	</div>
</main>
