.hidden {
  display: none;
}
.portrait {
  display: none;
}
html, body, #map {
  width: 100%;
  height: 50vh;
  padding: 0px;
  margin: 0px;
}
#container {
  display: block;
}
/*@media only screen and (orientation:portrait) {
      #mapid {
        display: none;
      }
      .portrait {
        display: block
      }
    }

@media only screen and (orientation:landscapr) {
      #mapid {
        display: block;
      }
      .portrait {
        display: none;
      }
    }
*/